<h1> Job </h1>

<div>
<%= @job.title %>
<br />
<%= @job.description %>
</div>
<%= @job.wage_lower_bound %>
</div>
<%= @job.wage_upper_bound %>
</div>

<div>
<%= link_to("Back to job list", admin_jobs_path, :class => "btn btn-default")  %>
</div>
